<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Plainsville and Provo Mental Health Data</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="assets/favicon.ico" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="/css/styles.css" rel="stylesheet" />
    </head>
    <body onload="loggedIn();">
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="/"><img src="/assets/img/provo welcome.png" height="100" alt="Welcome Provo Icon"></a>
                <div style="display: flex;">
                    <a
                        id="createacc"
                        style="display: none; margin-right: 5px;"
                        class="btn btn-warning"
                        href="register"
                        >Create New Account</a
                    >
                    <form action="/" method="GET">
                        <button
                            type="submit"
                            style="display: none"
                            class="btn btn-primary"
                            onclick="localStorage.clear();"
                            id="btnLogout"
                        ></button>
                    </form>
                    <a class="btn btn-primary" href="login" id="loginhref"
                        >Login</a
                    >
                </div>
            </div>
        </nav>
    <body>
        <table
            style="
                width: 100%;
                background-color: RGBA(248, 249, 250, var(--bs-bg-opacity, 1));
                border: 1px solid black;
            "
        >
            <thead style="background-color: #24A5DE; color: white">
                <tr>
                    <th style="text-align: left">Record Number</th>
                    <th style="text-align: left">Date</th>
                    <th style="text-align: left">Age</th>
                    <th style="text-align: left">Gender</th>
                    <th style="text-align: left">Relationship ID</th>
                    <th style="text-align: left">Occupation ID</th>
                    <th style="text-align: left">Social Media User</th>
                    <th style="text-align: left">Min Time Online</th>
                    <th style="text-align: left">Max Time Online</th>
                    <th style="text-align: left">Location</th>
                </tr>
            </thead>
            <tbody style="font-family: Arial; font-size: 9pt">
                <% for (let iCount = 0; iCount < mytest.length; iCount++) { %>
                <tr>
                    <td><%= mytest[iCount].response_id %></td>
                    <td><%= mytest[iCount].date_stamp.toDateString() %></td>
                    <td><%= mytest[iCount].age %></td>
                    <td><%= mytest[iCount].gender %></td>
                    <td><%= mytest[iCount].relationship_id %></td>
                    <td><%= mytest[iCount].occupation_id %></td>
                    <td><%= mytest[iCount].social_media_user %></td>
                    <td><%= mytest[iCount].min_time_online %></td>
                    <td><%= mytest[iCount].max_time_online %></td>
                    <td><%= mytest[iCount].location %></td>
                </tr>
                <% } %>
            </tbody>
        </table>
        <section class="call-to-action text-white text-center" id="loginblue">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6"></div>
                </div>
            </div>
        </section>
        <!-- Footer-->
        <footer class="footer bg-light">
            <div class="container">
                <div class="row">
                    <div
                        class="col-lg-6 h-100 text-center text-lg-start my-auto"
                    >
                        <ul class="list-inline mb-2">
                            <li class="list-inline-item">
                                <a href="/">About</a>
                            </li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item">
                                <a href="contact">Contact</a>
                            </li>
                            <li class="list-inline-item">⋅</li>
                            <li class="list-inline-item">
                                <a href="termsOfUse">Terms of Use</a>
                            </li>
                        </ul>
                        <p class="text-muted small mb-4 mb-lg-0" id="Copyrite">
                        </p>
                    </div>
                    <div class="col-lg-6 h-100 text-center text-lg-end my-auto">
                        <ul class="list-inline mb-0">
                            <li class="list-inline-item me-4">
                                <a href="https://www.facebook.com/provocity/"
                                    ><i class="bi-facebook fs-3"></i
                                ></a>
                            </li>
                            <li class="list-inline-item me-4">
                                <a
                                    href="https://www.youtube.com/@ProvoCityGovernment"
                                    ><i class="bi-youtube fs-3"></i
                                ></a>
                            </li>
                            <li class="list-inline-item">
                                <a
                                    href="https://www.instagram.com/provocity/?hl=en"
                                    ><i class="bi-instagram fs-3"></i
                                ></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <!-- * *                               SB Forms JS                               * *-->
        <!-- * * Activate your form at https://startbootstrap.com/solution/contact-forms * *-->
        <!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
        <script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
        <script>
            function loggedIn(){
                if (localStorage.getItem('is_admin').includes("true")) {
                    document.getElementById('createacc').style.display =
                        'block';}

                let fName = localStorage.getItem('first_name');
                let lName = localStorage.getItem('last_name');
                if (!fName) {
                    document.getElementById('btnLogout').style.display = 'none';
                    document.getElementById('createacc').style.display = 'none';
                } else {
                    document.getElementById('loginhref').style.display = 'none';
                    document.getElementById('btnLogout').textContent =
                        'Logout ' + fName + ' ' + lName;
                    document.getElementById('btnLogout').style.display =
                        'block';}

                let dDate = new Date();
                    dDate = dDate.getFullYear().toString();
                    document.getElementById("Copyrite").innerHTML = "&copy; Provo City " + dDate +". All Rights Reserved.";
            }
        </script>
    </body>
</html>
